/* "reset" */
body {
  padding: 0;
  margin: 0;
}

html, body, #map {
    height: 100%;
}

/* Control on the top right side */
.my-custom-control {
  background: white;
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 0 10px 10px;
}
.my-custom-control h2 {
  font-size: 12px;
}
.my-custom-control .icon {
  font-size: 23px;
  line-height: 12px;
  position: relative;
  top: 3px;
}
.my-custom-control .icon-TW { color: #5AC9E6; }
.my-custom-control .icon-TC { color: #FFCB5D; }
.my-custom-control .icon-TO { color: #BDCC2A; }
.my-custom-control .icon-TB { color: #EF4738; }

.my-custom-control .labelExtras {
  font-weight: bold;
}

/* Popups */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: rgba(0,168,81,.9);
  color: white;
}

.leaflet-popup-content-wrapper b {
  font-weight: normal;
  font-size: 18px;
  line-height: 2.0;
}

.leaflet-popup-content {
  margin: 7px 19px 13px;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 2px;
  right: 2px;
  color: rgba(255,255,255,.7);
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: rgba(255,255,255,1);
}

.leaflet-popup.TransOeste .leaflet-popup-content-wrapper,
.leaflet-popup.TransOeste .leaflet-popup-tip {
  background: rgba(90,201,230,.9);
  color: black;
}
.leaflet-popup.TransCarioca .leaflet-popup-content-wrapper,
.leaflet-popup.TransCarioca .leaflet-popup-tip {
  background: rgba(255,203,93,.9);
  color: black;
}
.leaflet-popup.TransOlímpica .leaflet-popup-content-wrapper,
.leaflet-popup.Link          .leaflet-popup-content-wrapper,
.leaflet-popup.TransOlímpica .leaflet-popup-tip,
.leaflet-popup.Link          .leaflet-popup-tip{
  background: rgba(189,204,42,.9);
  color: black;
}
.leaflet-popup.TransBrasil .leaflet-popup-content-wrapper,
.leaflet-popup.TransBrasil .leaflet-popup-tip {
  background: rgba(239,71,56,.9);
}
.leaflet-popup.TransOeste    a.leaflet-popup-close-button,
.leaflet-popup.TransCarioca  a.leaflet-popup-close-button,
.leaflet-popup.TransOlímpica a.leaflet-popup-close-button,
.leaflet-popup.Link          a.leaflet-popup-close-button{
  rgba(0,0,0,.7);
}
.leaflet-popup.TransOeste    a.leaflet-popup-close-button:hover,
.leaflet-popup.TransCarioca  a.leaflet-popup-close-button:hover,
.leaflet-popup.TransOlímpica a.leaflet-popup-close-button:hover,
.leaflet-popup.Link          a.leaflet-popup-close-button:hover{
  rgba(0,0,0,1);
}