/* "reset" */
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html, body, #map {
    height: 100%;
}

h2 {
  font-weight: bold;
  margin: 10px 0;
}

label {
  font-weight: normal;
  margin-left: 5px;
}

/* Control on the top right side */
.my-custom-control {
  background: white;
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 0 10px 10px;
}
.my-custom-control form {
  width: 205px;
}
.my-custom-control h2 {
  font-size: 12px;
}
.my-custom-control .icon-TW,
.my-custom-control .icon-TC,
.my-custom-control .icon-TO,
.my-custom-control .icon-TB {
  font-size: 36px;
  line-height: 4px;
  position: relative;
  top: 6px;
  left: -1px;
}
.my-custom-control .icon-TW { color: #5AC9E6; }
.my-custom-control .icon-TC { color: #F9A460; }
.my-custom-control .icon-TO { color: #BDCC2A; }
.my-custom-control .icon-TB { color: #EF4738; }
.my-custom-control hr {
  margin: 10px 0;
}
.my-custom-control .label-SV,
.my-custom-control .label-OI,
.my-custom-control .label-TD,
.my-custom-control .label-BP {
  background-position: 1px 0;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 1.5;
  padding-left: 25px;
}
.my-custom-control .label-SV { background-image: url(../images/icons/SV.png); }
.my-custom-control .label-OI { background-image: url(../images/icons/OI.png); }
.my-custom-control .label-TD { background-image: url(../images/icons/TD.png); }
.my-custom-control .label-BP { background-image: url(../images/icons/BP.png); }
.my-custom-control .labelExtras {
  font-weight: bold;
}
.my-custom-control .mapasDeCalorInputs {
  margin-top: 10px;
}

/* Popups */
.leaflet-container {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
}
.leaflet-popup-content-wrapper {
  border-radius: 20px;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  color: black;
  border-width: 3px;
  border-style: solid;
}
.leaflet-popup-tip-container {
  top: -3px;
}
.leaflet-container a.leaflet-popup-close-button {
  top: 7px;
  right: 7px;
}
.leaflet-popup-content .popup-icon {
  width: 50px;
  height: 50px;
  float: right;
  border: 4px solid #00A851;
  border-radius: 50%;
  margin-left: 10px;
  background-size: contain;
}
.leaflet-popup-content .popup-icon-SV { background-image: url(../images/icons/SV.png); }
.leaflet-popup-content .popup-icon-OI { background-image: url(../images/icons/OI.png); }
.leaflet-popup-content .popup-icon-TD { background-image: url(../images/icons/TD.png); }
.leaflet-popup-content .popup-icon-BP { background-image: url(../images/icons/BP.png); }
.leaflet-popup-content-wrapper b {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;
  display: block;
  text-align: left;
}
.leaflet-popup-content {
  margin: 20px;
  text-align: justify;
}
.leaflet-container img.foto-estudo {
  max-width: 300px !important;
  margin-top: 15px;
}

.leaflet-popup.bairro .leaflet-popup-content-wrapper,
.leaflet-popup.bairro .leaflet-popup-tip {
  border-color: rgb(0,138,51);
}
.leaflet-popup.bairro .leaflet-popup-content-wrapper b {
  color: rgb(0,138,51);
}

.leaflet-popup.TransOeste .leaflet-popup-content-wrapper,
.leaflet-popup.TransOeste .leaflet-popup-tip {
  border-color: rgba(90,201,230,.9);
}
.leaflet-popup.TransOeste .leaflet-popup-content-wrapper b {
  color: rgb(90,201,230);
}

.leaflet-popup.TransCarioca .leaflet-popup-content-wrapper,
.leaflet-popup.TransCarioca .leaflet-popup-tip,
.leaflet-popup.mid .leaflet-popup-content-wrapper,
.leaflet-popup.mid .leaflet-popup-tip{
  border-color: rgba(249,164,96,.9);
}
.leaflet-popup.TransCarioca .leaflet-popup-content-wrapper b,
.leaflet-popup.mid .leaflet-popup-content-wrapper b {
  color: rgb(249,164,96)
}

.leaflet-popup.TransOlímpica .leaflet-popup-content-wrapper,
.leaflet-popup.Link          .leaflet-popup-content-wrapper,
.leaflet-popup.TransOlímpica .leaflet-popup-tip,
.leaflet-popup.Link          .leaflet-popup-tip{
  border-color: rgba(189,204,42,.9);
}
.leaflet-popup.TransOlímpica .leaflet-popup-content-wrapper b,
.leaflet-popup.Link          .leaflet-popup-content-wrapper b {
  color: rgb(189,204,42);
}
.leaflet-popup.TransBrasil .leaflet-popup-content-wrapper,
.leaflet-popup.TransBrasil .leaflet-popup-tip,
.leaflet-popup.high .leaflet-popup-content-wrapper,
.leaflet-popup.high .leaflet-popup-tip{
  border-color: rgba(239,71,56,.9);
}
.leaflet-popup.TransBrasil .leaflet-popup-content-wrapper b,
.leaflet-popup.high .leaflet-popup-content-wrapper b {
  color: rgb(239,71,56);
}

.leaflet-popup .glyphicon-star {
  font-size: 23px;
  margin-left: 3px;
  position: relative;
  top: 6px;
}
.leaflet-popup .star-5 { color: rgba(0,168,81,1); }
.leaflet-popup .star-4 { color: rgba(0,168,81,.8); }
.leaflet-popup .star-3 { color: rgba(0,168,81,.6); }
.leaflet-popup .star-2 { color: rgba(0,168,81,.4); }
.leaflet-popup .star-1 { color: rgba(0,168,81,.2); }