body {
  padding: 0;
  margin: 0;
}

html, body, #map {
    height: 100%;
}

.my-custom-control {
  background: white;
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 0 10px 10px;
}
.my-custom-control h2 {
  font-size: 12px;
}
.my-custom-control .icon {
  font-size: 23px;
  line-height: 12px;
  position: relative;
  top: 3px;
}
.my-custom-control .icon-TW { color: #5AC9E6; }
.my-custom-control .icon-TC { color: #FFCB5D; }
.my-custom-control .icon-TO { color: #BDCC2A; }
.my-custom-control .icon-TB { color: #EF4738; }

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: rgba(0,168,81,.9);
  color: white;
}

.leaflet-popup-content-wrapper b {
  font-weight: normal;
  font-size: 18px;
  line-height: 2.0;
}

.leaflet-popup-content {
  margin: 7px 19px 13px;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 2px;
  right: 2px;
  color: #ddd;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: white;
}